# -*- coding: utf-8 -*-
# vim: ft=yaml
---
webstorm:
  # linux (default), mac (default), windowsZip (default), windows (setup.exe)
  flavour: linux
  environ:
    a: b
  pkg:
    use_upstream_archive: true
    use_upstream_macapp: false
  identity:
    user: undefined_user
  linux:
    altpriority: 0
