webstorm:
  dl:
    retries: 1
    interval: 30
  linux:
    #Enable Debian alternatives feature by setting nonzero 'altpriority' value here.
    #Increase same value on each subsequent software installation.
    #altpriority: 170
  prefs:
    user: undefined_user
    #See https://www.jetbrains.com/help/webstorm/exporting-and-importing-settings.html
    jarurl:
    jardir:
    jarfile: webstorm-settings.jar
 
