[Desktop Entry]
Encoding=UTF-8
Name={{ appname }}{{ '' if not edition else '\ %sE'|format(edition) }}"
Comment={{ appname }}{{ '' if not edition else '\ %sE'|format(edition) }}"
Icon={{ path }}/{{ command.split('.')[0] }}.png
Exec={{ path }}/{{ command }}
Terminal=false
Type=Application
