{%- set appdir = '%s%s'.format(appname, ' %sE'|format(edition) if edition is defined and edition else '') %}
[Desktop Entry]
Encoding=UTF-8
Name={{ appdir }}
Comment={{ appdir }}
Icon={{ appdir }}/{{ command.split('.')[0] }}.png
Exec={{ appdir }}/{{ command }}
Terminal=false
Type=Application
