[Desktop Entry]
Encoding=UTF-8
Name=Jetbrains WebStorm
Comment=JetBrains WebStorm (JavaScript IDE)
Icon=/opt/webstorm/bin/webstorm.png
Exec={{ home }}/{{ command }}
Terminal=false
Type=Application
