[Desktop Entry]
Encoding=UTF-8
Name=Jetbrains WebStorm
Comment=JetBrains WebStorm (JavaScript IDE)
Icon={{ home }}/{{ command.split('.')[0] }}.png
Exec={{ home }}/{{ command }}
Terminal=false
Type=Application
